<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="C:\\Users\\Marek Vu\\Desktop\\logs\\testFile.log" />
    <!-- *********** APPENDERS ******************************************** -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS}[%-5p] [%thread] %-5level %logger{36} [%-40.40c %6L]-%m%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE-AUDIT"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{HH:mm:ss.SSS}[%-5p] [%thread] %-5level %logger{36} [%-40.40c %6L]-%m%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>%d{HH:mm:ss.SSS}[%-5p]</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>


<!--    Custom file appender-->

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>C:\\Users\\Marek Vu\\Desktop\\logs\\Udemy.log</file>
        <encoder>
            <pattern>%d [%thread] %-5level %-40logger{40} - %msg%n</pattern>
        </encoder>
    </appender>


    <!-- *********** LOGGERS ********************************************** -->
<!--    do not forget this settings-->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="file"/>
    </root>

    <logger name="cz.syntea" level="INFO" />
    <logger name="cz.syntea.gam.installer" level="DEBUG" />



</configuration>